.sidepane-HBox{
    -fx-background-color: transparent;
}

.sidepane-HBox:hover{
    -fx-background-color: #FF7370;
    -fx-border-color: #ffffff;
    -fx-border-width: 0px 0px 0px 4px;
}

.issueReturnBtn{
    -fx-background-color: #0099CC;
    -fx-background-radius: 22;
    -fx-text-fill: #ffffff;
    -fx-border-color: #0099CC;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}

.issueReturnBtn:hover{
    -fx-background-color: #ffffff;
    -fx-background-radius: 22;
    -fx-text-fill: #0099CC;
    -fx-border-color: #0099CC;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}

.clearBtn{
    -fx-background-color: #FF7800;
    -fx-background-radius: 22;
    -fx-text-fill: #ffffff;
    -fx-border-color: #FF7800;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}

.clearBtn:hover{
    -fx-background-color: #ffffff;
    -fx-background-radius: 22;
    -fx-text-fill: #FF7800;
    -fx-border-color: #FF7800;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}